<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags-->
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
   
    <!-- Title Page-->
    <title>Penny Union</title>

    <!-- Fontfaces CSS-->
    <link href="../assets/userAdmin/css/font-face.css" rel="stylesheet" media="all" />
    <link
      href="../assets/userAdmin/vendor/font-awesome-4.7/css/font-awesome.min.css"
      rel="stylesheet"
      media="all"
    />
    <link
      href="../assets/userAdmin/vendor/font-awesome-5/css/fontawesome-all.min.css"
      rel="stylesheet"
      media="all"
    />
    <link
      href="../assets/userAdmin/vendor/mdi-font/css/material-design-iconic-font.min.css"
      rel="stylesheet"
      media="all"
    />

    <!-- Bootstrap CSS-->
    <link
      href="../assets/userAdmin/vendor/bootstrap-4.1/bootstrap.min.css"
      rel="stylesheet"
      media="all"
    />

    <!-- Vendor CSS-->
    <link
      href="../assets/userAdmin/vendor/animsition/animsition.min.css"
      rel="stylesheet"
      media="all"
    />
    <link
      href="../assets/userAdmin/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css"
      rel="stylesheet"
      media="all"
    />
    <link href="../assets/userAdmin/vendor/wow/animate.css" rel="stylesheet" media="all" />
    <link
      href="../assets/userAdmin/vendor/css-hamburgers/hamburgers.min.css"
      rel="stylesheet"
      media="all"
    />
    <link href="../assets/userAdmin/vendor/slick/slick.css" rel="stylesheet" media="all" />
    <link href="../assets/userAdmin/vendor/select2/select2.min.css" rel="stylesheet" media="all" />
    <link
      href="../assets/userAdmin/vendor/perfect-scrollbar/perfect-scrollbar.css"
      rel="stylesheet"
      media="all"
    />
    <link
      href="../assets/userAdmin/vendor/vector-map/jqvmap.min.css"
      rel="stylesheet"
      media="all"
    />

    <!-- Main CSS-->
    <link href="../assets/userAdmin/css/theme.css" rel="stylesheet" media="all" />
    <style>
      .header-desktop2 {
        background: #393771;
      }
      .menu-sidebar2 .logo {
        background: #393771;
      }
      .statistic {
        padding-top: 57px;
        margin-top: 3%;
      }

      .upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    margin: 5%;
}
.page-wrapper {
    overflow: hidden;
    background: #f2f2f2;
    padding-bottom: 40vh;
}
@media (max-width: 991px){
.page-wrapper {
    overflow: auto;
    background: #f2f2f2;
    padding-bottom: 12vh;
}
}
    </style>
  </head>

  <body class="animsition">
    <div class="page-wrapper">
      <!-- MENU SIDEBAR-->
      <aside class="menu-sidebar2">
        <div class="logo">
          <a href="/">
            <img src="../assets/invest.png" style='width:50%' alt="logo" />
          </a>
        </div>
        <div class="menu-sidebar2__content js-scrollbar1">
          <div class="account2">
            <div class="image img-cir img-120">
              <img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" alt="John Doe" />
            </div>
            <h4 class="name"> Welcome <%= user.name %></h4>
          </div>
          <nav class="navbar-sidebar2">
            

             <% if (user.status === false) { %>

                <button style='    background: red;
                    color: white;
                    padding: 4%;
                    margin: 5% 5% 5%;
                    width: 90%;
                    border-radius: 5px;
                    cursor:pointer'>
                    <a style='    color: white;
                    font-size: 1.3rem;' href='/users/pay'>Register Now</a>
                </button> 

          <%  } else{ %>

          <button style='    background: green;
                    color: white;
                    padding: 4%;
                    margin: 5% 5% 5%;
                    width: 90%;
                    border-radius: 5px;
                    cursor:pointer'>
                    <a style='    color: white;
                    font-size: 1.3rem;' href=''>Approved!</a>
                </button> 

          <%} %>

          

          <div class='account2'>
                    <h4 class='name' style='text-align:center'> Number of Investment Made</h4>
                    <h4><%= user.investNumber %></h4>

          </div>


           <div class='account2'>
                    <h4 class='name' style='text-align:center'> Number of Persons Referred</h4>
                    <h4><%= user.invite %></h4>

                    <p class='name'>referal link: </p>

                   <p style='    font-size: 12px;
    word-break: break-all;
    font-weight: 700;'> http://codabae.herokuapp.com/users/i/?id=<%=user._id%></p>
                   <br>


          </div>



<a href="/users/logout" class="btn btn-secondary">Logout</a>
          </nav>
        </div>
      </aside>
      <!-- END MENU SIDEBAR-->

      <!-- PAGE CONTAINER-->
      <div class="page-container2">
        <!-- HEADER DESKTOP-->
        <header class="header-desktop2">
          <div class="section__content section__content--p30">
            <div class="container-fluid">
              <div class="header-wrap2">
                <div class="logo d-block d-lg-none">
                  <a href="/">
            <img src="../assets/invest.png" style='width:50%' alt="logo" />
                  </a>
                </div>
                <div class="header-button2">
                  <div class="header-button-item mr-0 js-sidebar-btn">
                    <i class="zmdi zmdi-menu"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>
        <aside class="menu-sidebar2 js-right-sidebar d-block d-lg-none">
          <div class="logo">
            <a href="/">
              <img src="../assets/invest.png" alt="Cool Admin" />
            </a>
          </div>
          <div class="menu-sidebar2__content js-scrollbar2">
            <div class="account2">
              <div class="image img-cir img-120">
                <img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" alt="John Doe" />
              </div>
              <h4 class="name">Welcome <%= user.name %></h4>
            </div>
            <nav class="navbar-sidebar2">

             <% if (user.status === false) { %>

                <button style='    background: red;
                    color: white;
                    padding: 4%;
                    margin: 5% 5% 5%;
                    width: 90%;
                    border-radius: 5px;
                    cursor:pointer'>
                    <a style='    color: white;
                    font-size: 1.3rem;' href='/users/pay'>Register Now</a>
                </button> 

          <%  } else{ %>

          <button style='    background: green;
                    color: white;
                    padding: 4%;
                    margin: 5% 5% 5%;
                    width: 90%;
                    border-radius: 5px;
                    cursor:pointer'>
                    <a style='    color: white;
                    font-size: 1.3rem;' href=''>Approved!</a>
                </button> 

          <%} %>

<div class='account2'>
                    <h4 class='name' style='text-align:center'> Number of Investment Made</h4>
                    <h4><%= user.investNumber %></h4>

          </div>


           <div class='account2'>
                    <h4 class='name' style='text-align:center'> Number of Persons Referred</h4>
                    <h4><%= user.invite %></h4>

                    <p class='name'>referal link: </p>

                   <p style='    font-size: 12px;
    word-break: break-all;
    font-weight: 700;' style='text-align:center'> http://codabae.herokuapp.com/users/i/?id=<%=user._id%></p>
                   <br>


          </div>


<a href="/users/logout" class="btn btn-secondary">Logout</a>
                      
             </nav>
          </div>
        </aside>
        <!-- END HEADER DESKTOP-->

        <!-- STATISTIC-->
        <section class="statistic">
          <div class="section__content section__content--p30">
            <div class="container-fluid">
              <div class="row">
                
                <div class="col-md-6 col-lg-3">
                  <div class="statistic__item">
                    <h2 class="number"><%= user.invested %></h2>
                    <span class="desc">Donated</span>
                    <div class="icon">
                      <i class="zmdi zmdi-money"></i>
                    </div>
                  </div>

                <button style='    background: #393771;
                    color: white;
                    padding: 5%;
                    margin: 1% 5% 10%;
                    width: 90%;
                    border-radius: 5px;
                    cursor:pointer
                    '>
                                <a style='    color: white;
                    font-size: 1.3rem;' href='/users/donate/?id=<%=user._id%>'>Donate Now</a>
                </button>

                </div>

                <div class="col-md-6 col-lg-3">
                  <div class="statistic__item">
                    <h2 class="number"><%=user.withdraw%></h2>
                    <span class="desc">total earnings</span>
                    <div class="icon">
                      <i class="zmdi zmdi-money"></i>
                    </div>
                  </div>

                
                    <% if (!user.btn) { %>

                    <button   style='    background: #393771;
                    color: white;
                    padding: 5%;
                    margin: 1% 5% 10%;
                    width: 90%;
                    border-radius: 5px;
                        cursor:pointer
                '>
                                <a style='    color: white;
                    font-size: 1.3rem;' href='/users/withdraw/?id=<%=user._id%>'>Withdraw</a>
                </button>

                    <%} %>
                
                </div>

              </div>
            </div>
          </div>
        </section>
        <!-- END STATISTIC-->
        <% if (user.paired.length > 0) {%>
                        <div class="col-md-6 col-lg-4" style='max-width:90%; margin:5%'>
                        <!-- TOP CAMPAIGN-->

                            <% user.paired.map((item)=>{ %>
                                    <div class="top-campaign">


                            
                                <h3 class="title-3 m-b-30">You have been Paired with <%=item.name%></h3>

                              <a style='  cursor:pointer; float: right; margin-top: -6%; font-size: 2rem; color: red;' href='/users/close_paired/?id=<%=item.userId%>&myId=<%=user._id%>'> <i class="fa fa-window-close" style='  cursor:pointer; float: right; margin-top: -6%; font-size: 2rem; color: red;' aria-hidden="true"></i></a> 

                                
                                <div class="table-responsive">
                                    <table class="table table-top-campaign">
                                        <tbody>
                                            <tr>
                                                <td>Name</td>
                                                <td><%=item.name%></td>
                                            </tr>
                                            <tr>
                                                <td>Phone Number</td>
                                                <td><%=item.phone%></td>
                                            </tr>
                                            <tr>
                                                <td>To pay in </td>
                                                <td><%=item.amount%></td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>

                                <img style=' margin: 5% 0;' src='<%=user.proof[0].img%>' />

                                <button style='    background: #393771;
                                    color: white;
                                    padding: 2%;
                                    margin: 5% 5% 0%;
                                    width: 90%;
                                    border-radius: 5px;
                                        cursor:pointer
                                '>
                                    <a style='    color: white;
                        font-size: 1.3rem;' href='/users/confirm/?id=<%=user._id%>'>Confirm Payment</a>
                                    </button>
                           
                           </div>

       <% }) %>

       
  <!-- END TOP CAMPAIGN-->
                        </div>
        
        <!-- END PAGE CONTAINER-->
             </div>


        <% } else{ %>

       <% if (user.paring === true && !user.paired) { %>
            <div style='margin:10%'>

            <button style='    background: green;
            color: white;
            padding: 2%;
            margin: 5% 5% 5%;
            width: 90%;
            border-radius: 5px;
            cursor:pointer'>
            <a style='    color: white;
            font-size: 1.3rem;' href='/users/comfirm/?id=<%=user._id%>'><i class="fa fa-spinner fa-spin" style="font-size:24px"></i> Pairing</a>
            </button>
            </div>



       <% } %>

         <% if (user.paring === true ) { %>
            <div style='margin:10%'>


            <button style='    background: green;
            color: white;
            padding: 2%;
            margin: 5% 5% 5%;
            width: 90%;
            border-radius: 5px;
            cursor:pointer'>
            <a style='    color: white;
            font-size: 1.3rem;' href='/users/comfirm/?id=<%=user._id%>'><i class="fa fa-spinner fa-spin" style="font-size:24px"></i> Pairing</a>
            </button>
            </div>



       <% } %>


        <% } %>


       <% if (user.payto.length > 0){ %>

       <% let data = user.payto[0] %>

                <div class="col-md-6 col-lg-4" style='max-width:90%; margin:5%'>
                            <!-- TOP CAMPAIGN-->
                            <div class="top-campaign">
                                <h3 class="title-3 m-b-30">You have been Paired with <%=data.payName%>, Pay into this Account</h3>

                              <a style='  cursor:pointer; float: right; margin-top: -6%; font-size: 2rem; color: red;' href='/users/close_payto/?id=<%=data.payId%>&myId=<%=user._id%>'> <i class="fa fa-window-close" style=' float: right; margin-top: -6%; font-size: 2rem; color: red;' aria-hidden="true"></i></a> 

                                
                                <div class="table-responsive">
                                    <table class="table table-top-campaign">
                                        <tbody>
                                            <tr>
                                                <td>Name</td>
                                                <td><%=data.payName%></td>
                                            </tr>
                                            <tr>
                                                <td>Phone Number</td>
                                                <td><%=data.payPhone%></td>
                                            </tr>
                                            <tr>
                                                <td>Account No </td>
                                                <td><%=data.payAccNo%></td>
                                            </tr>
                                            <tr>
                                                <td>Account Name</td>
                                                <td><%=data.payAccName%></td>
                                            </tr>
                                            <tr>
                                                <td>Bank Name</td>
                                                <td><%=data.payBank%></td>
                                            </tr>
                                            <tr>
                                                <td>Amount to pay </td>
                                                <td><%=data.payAmount%></td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>

                                <form action="/users/proof/?id=<%=user._id%>" method="POST" >



                                    <div class="upload-btn-wrapper" style='margin-top:5%; width: 100%;'>
                                     <td> upload your prove of payment</td>

                                     <button class="btn">Upload a file</button>
                                     <input type="hidden" value="" name="img"  id='HF'/>


                                    <input type="file" accept="image/png, image/jpeg, image/jpg"  value="" name="myfile"  id='F' class='change'/>
                                    <label for="create_product_image" class="product_image_label" style="outline:none; color:#6a1b8b; background:none; text-align:center; padding: 15px 0px 8px">Click to choose a file
                                    </div>

                                    <button type='submit' style='    background: #393771;
                                    color: white;
                                    padding: 2%;
                                    margin: 5% 5% 0%;
                                    width: 90%;
                                    border-radius: 5px;
                                        cursor:pointer
                                '>
                                        Send Proof
                                    </button>
                                </form>

                               
                                
                            </div>
                            <!-- END TOP CAMPAIGN-->
                        </div>
        
        <!-- END PAGE CONTAINER-->
      </div>


        <% }else{ %>

       

        <%} %>



       
    </div>

    

    <!-- Jquery JS-->
    <script src="../assets/userAdmin/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="../assets/userAdmin/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="../assets/userAdmin/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="../assets/userAdmin/vendor/slick/slick.min.js"></script>
    <script src="../assets/userAdmin/vendor/wow/wow.min.js"></script>
    <script src="../assets/userAdmin/vendor/animsition/animsition.min.js"></script>
    <script src="../assets/userAdmin/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <script src="../assets/userAdmin/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="../assets/userAdmin/vendor/counter-up/jquery.counterup.min.js"></script>
    <script src="../assets/userAdmin/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="../assets/userAdmin/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="../assets/userAdmin/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="../assets/userAdmin/vendor/select2/select2.min.js"></script>
    <script src="../assets/userAdmin/vendor/vector-map/jquery.vmap.js"></script>
    <script src="../assets/userAdmin/vendor/vector-map/jquery.vmap.min.js"></script>
    <script src="../assets/userAdmin/vendor/vector-map/jquery.vmap.sampledata.js"></script>
    <script src="../assets/userAdmin/vendor/vector-map/jquery.vmap.world.js"></script>

    <!-- Main JS-->
    <script src="../assets/userAdmin/js/main.js"></script>

    <script>

         $(".change").change(function () {
         $(".product_image_label").html("Image uploaded successfully")
          productImageUpload()
        });

        function productImageUpload() {
        var oFReader = new FileReader();
        oFReader.readAsDataURL(document.getElementById("F").files[0]);

        oFReader.onload = function (oFREvent) {
          document.getElementById("HF").value = oFREvent.target.result;

          // $('#imageP').attr('src', oFREvent.target.result)
          // i = $('#imageP').attr('src')

        };
      }

    </script>
  </body>
</html>
<!-- end document-->
